<button *ngIf="!showNomi" (click)="vediSpettacoli()">Spettacoli</button>
<div *ngIf="showNomi">
  <button (click)="nascondi()">Nascondi</button>
  <div *ngFor="let spettacolo of nomiSpettacoli">
    <p>{{ spettacolo }}</p>
  </div>
</div>
<form>
  <input
    type="text"
    name="nomeSpettacolo"
    (keyup)="inInput($event)"
    [ngModel]="nomeSpettacolo"
    placeholder="inserisci il nome dello spettacolo"
  />
</form>
<div>
  <form action="">
    <select name="filePlatea" id="">
      <option selected="true" disabled="true" [value]="'file'"></option>
      <option value=""></option>
    </select>
    <select name="postiPlatea" id="">
      <option selected="true" disabled="true" [value]="'posti'"></option>
      <option value=""></option>
    </select>
  </form>
  <form action="">
    <select name="filePalco" id="">
      <option selected="true" disabled="true" [value]="'file'"></option>
      <option value=""></option>
    </select>
    <select name="postiPalco" id="">
      <option selected="true" disabled="true" [value]="'posti'"></option>
      <option value=""></option>
    </select>
  </form>
</div>
<button>indietro</button>
