<button *ngIf="!showNomi" (click)="vediSpettacoli()">Spettacoli</button>
<div *ngIf="showNomi">
  <button (click)="nascondi()">Nascondi</button>
  <div *ngFor="let spettacolo of nomiSpettacoli">
    <p>{{ spettacolo }}</p>
  </div>
</div>
<form>
  <input
    type="text"
    name="nomeSpettacolo"
    (keyup)="inInput($event)"
    [ngModel]="nomeSpettacolo"
    placeholder="inserisci il nome dello spettacolo"
  />
</form>
<div>
  <form action="">
    <p>configura la platea</p>
    <select
      (change)="seleziona()"
      [(ngModel)]="filePlatea"
      name="filePlatea"
      id=""
    >
      <option selected="true" disabled="true" [value]="undefined">file</option>
      <option *ngFor="let file of elemPlatea; let i = index" [ngValue]="i + 1">
        {{ i + 1 }}
      </option>
    </select>

    <select
      (change)="seleziona()"
      [(ngModel)]="postiPlatea"
      name="postiPlatea"
      id=""
    >
      <option selected="true" disabled="true" [value]="undefined">posti</option>
      <option *ngFor="let file of elemPlatea; let i = index" [ngValue]="i + 1">
        {{ i + 1 }}
      </option>
    </select>
  </form>
  <form action="">
    <p>configura il palco</p>
    <select
      (change)="seleziona()"
      [(ngModel)]="filePalco"
      name="filePalco"
      id=""
    >
      <option selected="true" disabled="true" [value]="undefined">file</option>
      <option *ngFor="let file of elemPalco; let i = index" [ngValue]="i + 1">
        {{ i + 1 }}
      </option>
    </select>
    <select
      (change)="seleziona()"
      [(ngModel)]="postiPlatea"
      name="postiPlatea"
      id=""
    >
      <option selected="true" disabled="true" [value]="undefined">posti</option>
      <option *ngFor="let file of elemPalco; let i = index" [ngValue]="i + 1">
        {{ i + 1 }}
      </option>
    </select>
  </form>
</div>
<br />
<br />
<button>indietro</button>
